<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/styles.css" rel="stylesheet">
  <style>
    .placeholder-left::placeholder {
  text-align: left;
}
  </style>
</head>
<body>
  <!-- Header Section -->
  <header class="bg-white text-gray-500 p-6 text-center">
  
    <h1 class="text-4xl font-bold">The Sahih Muslim Hadith Website</h1>
    <h4>Enter your search in Arabic and recieve your Hadiths in English</h4>
  </header>
  
  <div class="text-center">
    <search >
      <form action="/search" >
        <label for="query"></label>
        <input class="border border-gray-300 rounded-lg p-2 w-100 text-right placeholder-left" type="search" id="query" name="q" placeholder="Your Search" />
        <button class="bg-blue-700 text-white rounded-lg px-4 py-2 hover:bg-blue-800" type="submit">Search</button>
      </form>
    </search>
  </div>

  <!-- Results Section -->
  <div class="container mx-auto mt-8 p-4">
    <h2 class="text-2xl font-bold text-gray-700 mb-4"><%= searchQuery %> Results</h2>
    <ul class="space-y-4 " id="results-container">
      <% let x = 0 %>
      <% results.forEach(function(hadith) { %>
        <% if (x < 25) { %>
          <li class="bg-white shadow-md rounded-lg p-4">
            <p class="text-gray-700 font-medium"><%= hadith.hadith %></p>
          </li>
          <% x++; %>
        <% } %>
      <% }); %>
    </ul>
  </div>

  <!-- Scripts -->
  <script>
    var clientResults = <%- JSON.stringify(results) %>;
  </script>
  <script src="/scrolls.js"></script>
</body>
</html>

